In [31]:
#the model predicts the type of music one is likely to listen to on baisis of his/her age and gender 
#its uding a famous data science lib pandas and lib sklearn which has many algorithims for machne learning

#import pandas library as pd so whenever you want to use pandas you call pd 
import pandas as pd 
#import the required library for data spitting from sklearn 
from sklearn.model_selection import train_test_split
#import library for testing accuracy
from sklearn.metrics import accuracy_score
#import the library that helps you to make and train your model
from sklearn.tree import DecisionTreeClassifier

In [3]:
#load your data in a dataframe df
df=pd.read_csv("data.csv")

In [4]:
#drop the genre column to acts as output and remain with age and gender which will act as input sets 
x = df.drop(columns="genre")

In [5]:
#virtualize the data set
#note that for gender male is 1 and female is 0
df

    age  gender      genre
0    20       1     hiphop
1    23       1     hiphop
2    25       1     hiphop
3    26       1  gengetone
4    29       1  gengetone
5    30       1  gengetone
6    31       1     reggea
7    33       1     reggea
8    37       1     reggea
9    20       0      dance
10   21       0      dance
11   25       0      dance
12   26       0    country
13   27       0    country
14   30       0    country
15   31       0  classical
16   34       0  classical
17   35       0  classical

In [6]:
#shape of the data that is columns and rows
df.shape

(18, 3)

In [9]:
#data description or statistics
df.describe()

             age     gender
count  18.000000  18.000000
mean   27.944444   0.500000
std     5.127460   0.514496
min    20.000000   0.000000
25%    25.000000   0.000000
50%    28.000000   0.500000
75%    31.000000   1.000000
max    37.000000   1.000000

In [10]:
#now drop the genre column which will act as output column 
#the remaining data columns that is gender and age will be our input values
x=df.drop(columns="genre")
#now virtualize your data
x

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [11]:
#now create your output data set from the dropped column
y=df['genre']
#virtualize your data
y

0        hiphop
1        hiphop
2        hiphop
3     gengetone
4     gengetone
5     gengetone
6        reggea
7        reggea
8        reggea
9         dance
10        dance
11        dance
12      country
13      country
14      country
15    classical
16    classical
17    classical
Name: genre, dtype: object

In [34]:
#create your model by calling the decisiontreeclassifier class from sklearn algorithim
model=DecisionTreeClassifier()

In [45]:
#split your data for trainning and testing your model

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)


#train your model with the input and output sets created
model.fit(x_train,y_train)
#make prediction with your model
predictions=model.predict(x_test)
score=accuracy_score(y_test,predictions)
print(score)

0.5

In [46]:
#make predictions
predictions=model.predict([[21,1],[32,0]])
predictions

array(['hiphop', 'classical'], dtype=object)

In [14]:
#make a intelligent model that will do your predictions
#here you gonna import joblib class from the sklearn library
from sklearn.externals import joblib

/root/anaconda3/lib/python3.7/site-packages/sklearn/externals/joblib/__init__.py:15: DeprecationWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=DeprecationWarning)

In [15]:
#create your intelligent model that could be reused any other time for making predictions
joblib.dump(model,"intelligentmodel.joblib")

['intelligentmodel.joblib']